/* =====================
   CHECKOUT PAGE
===================== */


.checkout-page{

padding:80px 0;

}



.checkout-container h1{

font-size:56px;

margin-bottom:40px;

}





.checkout-layout{

display:grid;

grid-template-columns:2fr 1fr;

gap:24px;

}





.checkout-card{

background:
linear-gradient(
145deg,
#191925,
#11111a
);


border:
1px solid rgba(255,255,255,.08);


border-radius:22px;


padding:30px;


box-shadow:
0 20px 50px rgba(0,0,0,.25);

}




.checkout-card h2{

font-size:28px;

margin-bottom:20px;

}





#concert-info h3{

font-size:24px;

margin-bottom:15px;

}




.checkout-card input,
.checkout-card select{


width:100%;


margin-top:15px;


padding:15px;


border-radius:12px;


background:#22222d;


border:
1px solid rgba(255,255,255,.1);


color:white;


font-size:16px;


}






.checkout-row{


display:flex;


justify-content:space-between;


padding:15px 0;


border-bottom:
1px solid rgba(255,255,255,.1);


}





.checkout-row strong{

color:
var(--color-primary);

font-size:22px;

}





#confirm-payment{

width:100%;

margin-top:25px;

height:52px;

}





@media(max-width:900px){

.checkout-layout{

grid-template-columns:1fr;

}


}